page-login{
	.transparent{
		background-color:transparent !important;
		color: #FFF;
	}

	.center{
		text-align:center;
	}
	.item-ios {
		padding-right: 16px;
	}
	.item-md{
		padding-right: 16px !important;
	}
	.formView{
		margin:0px auto;
		width: 40%;
		margin-top: 0;
		background-color:transparent !important;
	}
	.listbg{
		background-color: rgba(0, 0, 0, 0.7) !important;	
		border-radius: 9px;
	}

	.bg{
		background-image:url(../assets/imgs/learning.jpg);
		background-size: 100% 100%;
	}

	@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px){ 
    	.formView{
			width: 95%;
			margin: 0 auto;
		}
    }

}



