<ion-header>
  <header hideBackButton="true"></header>
</ion-header>

<ion-content padding class="bg">
	<div class="formView" >
		<form (submit)="dologinProcess()" #loginForm="ngForm">
			<ion-list class="listbg">
				 <h1> Login to your account</h1> 

				<div class="facebook">
					<a href="https://www.facebook.com/" target="_blank">
					<img  src="../../assets/imgs/facebook-login.png" class="facebookLogin" /></a>
				</div>
				<p class="textAlignCen">
						<span class="line"></span>
						<span class="or">OR</span>
						<span class="line"></span>
					</p>
					<!-- <p class="ab">Or use your user account</p> -->
				<ion-item class="transparent">
					<ion-label floating>Email / Phone Number</ion-label>
					<ion-input style="color: white" type="text" name="login_params" [(ngModel)]="logininfo.i_loginparams" id="email" #email="ngModel" required></ion-input>
				</ion-item>
				<div *ngIf="email.errors && (email.dirty || email.touched)">
						<div [hidden]="!email.errors.required">
                          <span class="errorMsg">Email/phone Number is required!</span>
                      </div>
                        </div>

				<ion-item class="transparent">
					<ion-label floating>Password</ion-label>
					<ion-input style="color: white" type="password" name="password" [(ngModel)]="logininfo.i_password" id="password" #password="ngModel"  required ></ion-input>
				</ion-item>
				<div *ngIf="password.errors && (password.dirty || password.touched)">
						<div [hidden]="!password.errors.required">
                          <span class="errorMsg">Password should be required</span>
                      </div>
					</div>
				<div class="center">
					<button ion-button secondary [disabled]="!loginForm.form.valid" >Login</button>
				</div>
				<div style="text-align: center; color: #FFF; padding-bottom: 20px;">
					<p><span> Not a Member? Please <a (click)="gotoSignup()">SignUp here </a></span></p>
					<p><span>Run an instute ? <a (click)="gotoSignup()">Login Here </a></span></p>
					<p>Forgot Password </p>
				</div>
			

			</ion-list>
		</form>
	</div>


</ion-content>
