<!-- Generated template for the NewsComponent component -->
    <div class="info-main-container">
      <div class="genericPadding">
          <!-- <h1 *ngIf="_global.deviceName == 'ipad' ">Information</h1> -->
          <h2>Overview</h2>
          <p *ngIf="about != null" [innerHTML]="about"></p>
          <h2> Description </h2>
          <p *ngIf="information != null" [innerHTML]="information"></p>
          
          <div style="text-align:center;">
            <video controls="true">
                <source src="www.youtube.com/watch?v=b-e9cOpGC0I" type="video/mp4" />
            </video>
          </div>
      </div>
    </div>
