<!-- Generated template for the NewsComponent component -->
    <div class="info-main-container">
      <div class="genericPadding">
          <!-- <h1 *ngIf="_global.deviceName == 'ipad' ">Information</h1> -->
          <h2>Overview</h2>
          <p *ngIf="about != null" [innerHTML]="about"></p>
          <h2> Description </h2>

          <!-- <read-more text="It needs a lot of guts to actually deal with such kind of composition.. and they actually did the blending really well.. considering the way they used in the movie.. if anyone fails to understand it's there loss.. can't help"></read-more> -->

          <div style="text-align:center;">
            <video controls="true">
                <source src="https://www.facebook.com/techninzaz.bangalore/videos/519172321788846/" type="video/mp4" />
            </video>
          </div>
      </div>
    </div>
