page-modal {
	.uploadPhoto{
		opacity: 0 !important;
	    position: absolute;
	    top: 5px;
	}
	#image{
		opacity: 0;
	}
	#up{
		position: absolute;
    	left: 50px;
    	font-family: cursive;
    	text-align: center;
	}
	.img-circle{
		height: 100%;
		border-radius: 50%;
		width: 100%;
	}
	.toppart{
		height: 56px;
	    width: 100%;
	    background: linear-gradient(to right, #0084bf, #0c8996);
	}
	.middlepart{
		position: relative;
    	height: 60px;
    	background-color: #FFF;
	} 
	.bottompart{
		position: relative;
    	height: auto;
    	text-align: center;
    	padding-top:10px;
    	background-color: #FFF;
	}
	.profile_photo_container{
		width: 88px;
	    height: 88px;
	    box-sizing: border-box;
	    background-clip: content-box;
	    border: 3px solid transparent;
	    border-radius: 49.9%;
	    position: absolute;
	    top: -40px;
	    margin-left: 50%;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	    border: 4px solid #fff;
	    box-shadow: inset 0 1.5px 3px 0px rgba(0,0,0,0.15), 0 1.5px 3px 0px rgba(0,0,0,0.15);
	    box-sizing: content-box;
	}
	.uploadNew{
		background-color: grey;
		border-radius: 50%;
		position: absolute;
    	left: 70px;
    	top: 60px;
    	height:30px;
    	width: 30px;
	}
	.cameraUpload{
		font-size: 2em;
		color: whitesmoke;
		padding-left: 4px;
		padding-top:1px;
	}
	.upload{
		    height: 1.5em !important;
	}
}
