page-main {
  .notification{
    color: green;
    }


}

/*  Common CSS for All the Pages    */
.tutorial{
  background-image: linear-gradient(to left bottom, #2978fa, #00acf9, #37cfda, #b9e7d2, #fefffc);
}
.tilesBG{
  background-image: linear-gradient(to top, #91948a, #a0a690, #aeb996, #bccc9c, #cbe0a2);
}
.innerBG {
  background-image: linear-gradient(to top, #53d4fa, #68d6dc, #8ad4c2, #aad0b1, #c1cbad);
}
.genericPadding{
  padding: 30px;
}
.inline{
  display:inline-block;
}
.smallHeading{
  font-size: 12px;
  color: #666666;
  white-space: pre-line;
}
.headings{
  font-size: 18px;
}
.subHeading{
  font-size: 16px;
}
.mediumHeading{
  font-size: 14px;
}
.icon-md{
  font-size: 1.6em !important;
}
.blockBackground{
    box-shadow: 0px 2px 6px #ccc;
    background: rgba(134,174,204,1);
    background: -moz-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 57%, rgba(212,228,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(134,174,204,1)), color-stop(57%, rgba(212,228,239,1)), color-stop(100%, rgba(212,228,239,1)));
    background: -webkit-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 57%, rgba(212,228,239,1) 100%);
    background: -o-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 57%, rgba(212,228,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 57%, rgba(212,228,239,1) 100%);
    background: linear-gradient(to bottom, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 57%, rgba(212,228,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef', GradientType=0 );
}
.blockPadding{
  padding: 10px;
}
.parentBlock{
  margin-bottom: 10px;
  background-color: #FFF;
  box-shadow: 0px 2px 6px #ccc;
}
.fatbob {
  font-weight: 900;
}
.bob{
  font-weight: 500;
}
.img-thumbnail{
  height:100px;
}
.center{
  text-align: center;
}
