page-sales-agent {
    .header{
        text-align: center;
        font-size: 15px;
    }
    .dat{
        background-color:white;
        box-shadow: 2px 2px 0px grey;
        border-radius: 5px;
        width: 20em;
    }
    .slpage{
        background-image: url('https://img.freepik.com/vector-gratis/pared-de-ladrillo-realista_1284-4683.jpg?size=626&ext=jpg');
        background-size: 100% 100%;   
    }
    .numb{
        font-size: 40px;   
        color: #e4a839;
    }
    .segment-md .segment-button{
        color: #0b2759 !important;
        font-size: 1.6rem !important;
    }
    .segment-md .segment-button.segment-activated{
        background-color: gainsboro !important;
    }
    .lead{
        font-size: 22px;
        color: #d8d8a9;
    }
    .errorMsg{
            color:red;
            padding-left: 15px;
    }
    .segment-button {
        margin-left: 10px;
        margin-right: 0;
        text-align: center;
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }
    .segment-but{
        border: 2px solid;
        margin-left: 10px;
    } 
    .sat{
        width: 20em;
        height: 45px;
        background-color:white;
        box-shadow: 2px 2px 0px grey;
        border-radius: 5px;
    }
    .letbg{
        margin: 15px 50px 0px 50px;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 10px; 
    }
    .listbg{
        margin: 0px 50px 0px 50px;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 10px;  
        color: #d8d8a9 ;
    }
    .leftChartBlock{
        box-shadow: 2px 0 15px 0;
        display: inline-block;
        vertical-align: top;
    }
    .rightChartBlock{
        box-shadow: 2px 0 15px 0;
        display: inline-block;
        vertical-align: top;
    }
    .graphHeight{
        height: 400px;
     }
     .graphBottom{
        margin-top: 120px;
     }

     
     
     .downloadButton:hover {
        background-color: lightgreen;
        color: black;
        font-weight: bold;
    }

     .downloadButton {
        background-color:darkgreen;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    .buttonPos1{
        margin: 80px 0 0 80px;
        display: inline-block; 
    }

    .buttonPos2{
        margin: 80px 0 0 80px;
        display: inline-block;
        vertical-align: top;
    }

    .buttonPos3{
        margin: 120px 0 0 80px;
    }
     @media only screen
        and (max-device-width: 640px),
        only screen and (max-device-width: 667px),
        only screen and (max-width: 480px){
        .formview{
        width: 90%;
        margin: 0px auto;
        margin-top: 20%;
}
}
}
