page-enquiryhistory {
	.splash-logo {
	    margin: auto;
	    //background: url('../assets/img/appicon.png') repeat transparent;
	    background-size: 100%;
	    width: 135px;
    	height: 125px;
	}
	.card{
		background-color:transparent;
		border: none;
	}
	.imgCourses{
		height: 130px;
    	border-radius: 65px;
	}
 .b{
	font-weight:bold;
	padding-top:10px;
}
}
