inst-location {
  .location-main-container{
    border-radius: 5px;
    box-shadow: 0px 2px 6px #ccc;
    background-color: rgba(188, 186, 186, 0.39);
    padding: 10px;
  }
  .item-md{
    padding-left: 0px;
    margin-bottom: 10px;
  }
  .label-md{
    margin: 0px;
  }

  .genericPadding{
    padding: 30px;
	}
  .smallHeading{
    font-size: 12px;
    color: #666666;
    white-space: pre-line;
  }
  .headings{
    font-size: 18px;
  }
  .subHeading{
    font-size: 16px;
  }
  .mediumHeading{
    font-size: 14px;
  }
  .icon-md{
    font-size: 1.6em !important;
  }
}
