<ion-header>
	<header hideBackButton="true"></header>
</ion-header>
<ion-content padding class="pageBg">
	<div class="formview">
		<div class="marginTp">
			<ion-segment [(ngModel)]="info">
				<ion-segment-button value="newCourse">
					Add New Course
				</ion-segment-button>
				<ion-segment-button value="newLocation">
					Add New Location
				</ion-segment-button>
			</ion-segment>
		</div>
		<div [ngSwitch]="info">
			<form (submit)="addNewCourseProcess()" #newCourseForm="ngForm">
				<ion-list class="listbg" *ngSwitchCase="'newCourse'">
					<ion-item class="transparent">
						<ion-label floating>Course Name</ion-label>
						<ion-input type="text" [(ngModel)]="courseDetails.course_name" name="fname" id="name" #name="ngModel" required></ion-input>
					</ion-item>
					<div *ngIf="name.errors && (name.dirty || name.touched)">
						<div [hidden]="!name.errors.required">
							<span class="errorMsg">Course Name is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>image url</ion-label>
						<ion-input type="text" name="lname" [(ngModel)]="courseDetails.imageurl" id="ImgUrl" #ImgUrl="ngModel" required></ion-input>
					</ion-item>
					<div *ngIf="ImgUrl.errors && (ImgUrl.dirty || ImgUrl.touched)">
						<div [hidden]="!ImgUrl.errors.required">
							<span class="errorMsg">Image Url is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>Parent Category</ion-label>
						<ion-input type="text" maxlength="10" name="parentcategory" [(ngModel)]="courseDetails.parentcategory"></ion-input>
					</ion-item>

					<div style="padding-top: 20px;" class="center">
						<button ion-button secondary [disabled]="!newCourseForm.form.valid">Add</button><br><br>
					</div>
					<div class="center pad-g">
						<p (click)="gotoManage()">Manage Courses</p>
					</div>
				</ion-list>
			</form>
			<form (submit)="newLocation()" #newLocationForm="ngForm">
				<ion-list class="listbg" *ngSwitchCase="'newLocation'">
					<ion-item class="transparent">
						<ion-input type="text" name="Iname" [(ngModel)]="LocationInfo.location_name" id="lname" #lname="ngModel" required></ion-input>
						<ion-label floating>Location Name</ion-label>
					</ion-item>
					<div *ngIf="lname.errors && (lname.dirty || lname.touched)">
						<div [hidden]="!lname.errors.required">
							<span class="errorMsg">Location Name is required!</span>
						</div>
					</div>
					<ion-item  class="transparent">
						<ion-label floating>Location City</ion-label>
						<ion-input type="text" maxlength="10" name="mobile" [(ngModel)]="LocationInfo.location_city" id="lcity" #lcity="ngModel" required></ion-input>
		  </ion-item>
		  <div *ngIf="lcity.errors && (lcity.dirty || lcity.touched)">
			<div [hidden]="!lcity.errors.required">
				<span class="errorMsg">Location City is required!</span>
			</div>
		</div>
		         <ion-item  class="transparent">
						<ion-label floating>Location State</ion-label>
						<ion-input type="text" maxlength="10" name="mobile" [(ngModel)]="LocationInfo.location_state" id="lstate" #lstate="ngModel"></ion-input>
		  </ion-item>
		  <div *ngIf="lstate.errors && (lstate.dirty || lstate.touched)">
			<div [hidden]="!lstate.errors.required">
				<span class="errorMsg">Location State is required!</span>
			</div>
		</div>
          <ion-item  class="transparent">
						<ion-label floating>Location Pincode</ion-label>
						<ion-input type="text" maxlength="10" name="mobile" [(ngModel)]="LocationInfo.location_pincode" id="lpin" #lpin="ngModel"></ion-input>
		  </ion-item>
		  <div *ngIf="lpin.errors && (lpin.dirty || lpin.touched)">
			<div [hidden]="!lpin.errors.required">
				<span class="errorMsg">Location Pincode is required!</span>
			</div>
		</div>
					<ion-item  class="transparent">
						<ion-label floating>Location relevant name</ion-label>
						<ion-input type="text" maxlength="10" name="altmobile" [(ngModel)]="LocationInfo.location_relevant_name" id="LRname" #LRname="ngModel"></ion-input>
					</ion-item>
					<div *ngIf="LRname.errors && (LRname.dirty || LRname.touched)">
						<div [hidden]="!LRname.errors.required">
							<span class="errorMsg">Location relevant name is required!</span>
						</div>
					</div>
				
					<ion-item class="transparent">
						<ion-label floating>location_nearby</ion-label>
						<ion-input type="text" name="location_nearby" [(ngModel)]="LocationInfo.location_nearby" id="Lnear" #Lnear="ngModel"></ion-input>
					</ion-item>
					<div *ngIf="Lnear.errors && (Lnear.dirty || Lnear.touched)">
						 <div [hidden]="!Lnear.errors.required"> 
							<span class="errorMsg">Location PinCode is required!</span>
						</div>
						</div>
					<div style="padding-top: 20px;" class="center">
						<button ion-button secondary [disabled]="!newLocationForm.form.valid">Add</button><br><br>
					</div>

					<div class="center pad-g">
						<p (click)="gotoManage()">Manage Locations</p>
					</div>
				</ion-list>
			</form>
		</div>
	</div>

	 <div class="footer">
		<in-news></in-news>
		<footer></footer>
	  </div>
</ion-content>