<ion-header>
	<header hideBackButton="true"></header>
</ion-header>
<ion-content padding class="pageBg">
	<div class="formview">
		<div class="marginTp">
			<ion-segment [(ngModel)]="info">
				<ion-segment-button value="newCourse">
					Add New Course
				</ion-segment-button>
				<ion-segment-button value="newLocation">
					Add New Location
				</ion-segment-button>
			</ion-segment>
		</div>
		<div [ngSwitch]="info">
			<form (submit)="addNewCourseProcess()" #newCourseForm="ngForm">
				<ion-list class="listbg" *ngSwitchCase="'newCourse'">
					<ion-item class="transparent">
						<ion-label floating>Course Name</ion-label>
						<ion-input type="text" [(ngModel)]="courseDetails.course_name" name="fname" id="name" #name="ngModel" required></ion-input>
					</ion-item>
					<div *ngIf="name.errors && (name.dirty || name.touched)">
						<div [hidden]="!name.errors.required">
							<span class="errorMsg">Course Name is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>image url</ion-label>
						<ion-input type="text" name="lname" [(ngModel)]="courseDetails.imageurl" id="ImgUrl" #ImgUrl="ngModel" required></ion-input>
					</ion-item>
					<div *ngIf="ImgUrl.errors && (ImgUrl.dirty || ImgUrl.touched)">
						<div [hidden]="!ImgUrl.errors.required">
							<span class="errorMsg">Image Url is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>Parent Category</ion-label>
						<ion-input type="text" maxlength="10" name="parentcategory" [(ngModel)]="courseDetails.parentcategory"></ion-input>
					</ion-item>

					<div style="padding-top: 20px;" class="center">
						<button ion-button secondary [disabled]="!newCourseForm.form.valid">Add</button><br><br>
					</div>
					<div style="padding-top: 20px;" class="center">
						<p (click)="gotoManage()">Manage Courses</p>
					</div>
				</ion-list>
			</form>
			<form (submit)="newLocation()" #newLocationForm="ngForm">
				<ion-list class="listbg" *ngSwitchCase="'newLocation'">
					<ion-item class="transparent">
						<ion-input type="text" name="Location_name" [(ngModel)]="LocationInfo.Location_name" id="locName" #locName="ngModel"
						 required></ion-input>
						<ion-label floating>Location Name</ion-label>
					</ion-item>
					<div *ngIf="locName.errors && (locName.dirty || locName.touched)">
						<div [hidden]="!locName.errors.required">
							<span class="errorMsg">Location Name is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>Location City</ion-label>
						<ion-input type="text" name="Location_city" [(ngModel)]="LocationInfo.Location_city" id="LocCity" #LocCity="ngModel"
						 required></ion-input>
					</ion-item>
					<div *ngIf="LocCity.errors && (LocCity.dirty || LocCity.touched)">
						<div [hidden]="!LocCity.errors.required">
							<span class="errorMsg">Location City is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>Location State</ion-label>
						<ion-input type="text" maxlength="10" name="Location_state" [(ngModel)]="LocationInfo.Location_state" id="LocState"
						 #LocState="ngModel" requried></ion-input>
					</ion-item>
					<div *ngIf="LocState.errors && (LocState.dirty || LocState.touched)">
						<div [hidden]="!LocState.errors.required">
							<span class="errorMsg">Location State is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>Location Pincode</ion-label>
						<ion-input type="text" name="Location_pincode" [(ngModel)]="LocationInfo.Location_pincode" id="LocPin" #LocPin="ngModel"
						 required></ion-input>
					</ion-item>
					<div *ngIf="LocPin.errors && (LocPin.dirty || LocPin.touched)">
						<div [hidden]="!LocPin.errors.required">
							<span class="errorMsg">Location PinCode is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>Location relevant name</ion-label>
						<ion-input type="text" name="Location_relevant_name" [(ngModel)]="LocationInfo.Location_relevant_name" id="RevName"
						 #RevName="ngModel" required></ion-input>
					</ion-item>
					<div style="padding-top: 20px;" class="center">
						<button ion-button secondary [disabled]="!newLocationForm.form.valid">Register</button><br><br>
					</div>
				</ion-list>
			</form>
		</div>
	</div>

	<!-- <div class="footer">
		<in-news></in-news>
		<footer></footer>
	  </div> -->
</ion-content>