<ion-header>
	<header hideBackButton="true"></header>
</ion-header>
<ion-content padding class="pageBg">
	<div class="formview">
		<div class="marginTp" >
			<ion-segment [(ngModel)]="info">
				<ion-segment-button value="newCourse">
					Add New Course
				</ion-segment-button>
				<ion-segment-button value="newLocation">
					Add New Location
				</ion-segment-button>
			</ion-segment>
		</div>
		<div [ngSwitch]="info">
			<form (submit)="addNewCourseProcess()" #newCourseForm="ngForm">
				<ion-list class="listbg" *ngSwitchCase="'newCourse'">
					<ion-item class="transparent">
						<ion-label floating>Course Name</ion-label>
						<ion-input type="text" [(ngModel)]="courseDetails.course_name" name="fname" id="name" #name="ngModel" required></ion-input>
					</ion-item>
					<div *ngIf="name.errors && (name.dirty || name.touched)">
						<div [hidden]="!name.errors.required">
							<span class="errorMsg">Course Name is required!</span>
						</div>
					</div>
					<ion-item class="transparent">
						<ion-label floating>image url</ion-label>
						<ion-input type="text" name="lname" [(ngModel)]="courseDetails.imageurl" id="ImgUrl" #ImgUrl="ngModel" required></ion-input>
					</ion-item>
					<div *ngIf="ImgUrl.errors && (ImgUrl.dirty || ImgUrl.touched)">
						<div [hidden]="!ImgUrl.errors.required">
							<span class="errorMsg">Image Url is required!</span>
						</div>
					</div>
					<ion-item  class="transparent">
						<ion-label floating>Parent Category</ion-label>
						<ion-input type="text" maxlength="10" name="parentcategory" [(ngModel)]="courseDetails.parentcategory"></ion-input>
					</ion-item>
					
					<div style="padding-top: 20px;" class="center">
						<button ion-button secondary [disabled]="!newCourseForm.form.valid">Add</button><br><br>
					</div>
				</ion-list>
			</form>
			<form (submit)="doSignupProcessInstitute()">
				<ion-list class="listbg" *ngSwitchCase="'newLocation'">
					<ion-item class="transparent">
						<ion-input type="text" name="Iname" [(ngModel)]="userinfo.u_Iname"></ion-input>
						<ion-label floating>Institute Name</ion-label>
					</ion-item>
					<ion-item  class="transparent">
						<ion-label floating>Phone Number</ion-label>
						<ion-input type="text" maxlength="10" name="mobile" [(ngModel)]="userinfo.u_mobile"></ion-input>
					</ion-item>
					<ion-item  class="transparent">
						<ion-label floating>Alternative Number</ion-label>
						<ion-input type="text" maxlength="10" name="altmobile" [(ngModel)]="userinfo.u_altmobile"></ion-input>
					</ion-item>
					<ion-item class="transparent">
						<ion-label floating>Email-id</ion-label>
						<ion-input type="text" name="email" [(ngModel)]="userinfo.u_email"></ion-input>
					</ion-item>
					<div style="padding-top: 20px;" class="center">
						<button ion-button secondary>Register</button><br><br>
					</div>
					<div style="text-align: center; color: #FFF; padding-bottom: 20px;">
						<span> Already a Member? <a (click)="gotoLogin()">Login</a></span>
					</div>
				</ion-list>
			</form>
		</div>
	</div>

	<!-- <div class="footer">
		<in-news></in-news>
		<footer></footer>
	  </div> -->
</ion-content>
