.light-theme {
    ion-content {
      background-color: #ff9999;
    }
   
    .toolbar-background {
      background-color:	#ff9999;
    }

     .footer{
      border-color: #ff0fff;
      background-color: #ff9999; 
    }
  }