.dark-theme {
    ion-content {
      background-color:#d7dae0;
      color: white;
    }
   
    .toolbar-title {
      color: white;
    }
    .toolbar-background  {
      border-color: #ff0fff !important;
      background-color:#969fad !important;
    }
  
    .footer{
      border-color: #ff0fff;
      background-color:#969fad; 
    }
  }  

  