.dark-theme {
    ion-content {
      background-color: #0a3375;
      color: #fff;
    }
   
    .toolbar-title {
      color: #fff;
    }
    .toolbar-background  {
      border-color: #ff0fff !important;
      background-color: lightgrey!important;
    }
  
    .footer{
      border-color: #ff0fff;
      background-color: lightgrey; 
      color: black;
    }
  }  

  