.dark-theme {
    ion-content {
      background-color:#8c7373;
      color: white;
    }
   
    .toolbar-title {
      color: white;
    }
    .toolbar-background  {
      border-color: #ff0fff !important;
      background-color:#8c7373 !important;
    }
  
    .footer{
      border-color: #ff0fff;
      background-color:#8c7373; 
    }
  }  

  