page-signin {
	.pageBg{
		background-image:url('../assets/imgs/Learning.jpg');
		background-size:100% 100%;
	}
	.formview{
		width: 40%;
		margin: 100px auto;
	}
	.marginRt{
		margin-right: 15px;
	}
	.marginTp{
		margin-top: 20px;
	}
	.listbg{
		background-color: rgba(0, 0, 0, 0.7) !important;
		border-radius: 5px;
	}
	.transparent{
		background-color: transparent !important;
		color: #FFF;
	}
	.segment-md .segment-button{
		color: #0b2759 !important;
	}
}
