page-forgotpassword {
.pageBg{
		background-image:url('../assets/imgs/Learning.jpg');
		background-size:100% 100%;
	}

.formView {
	width: 40%;
	margin: 100px auto;
	
}
.listBg{
		background-color: rgba(0, 0, 0, 0.7) !important;
		border-radius: 9px;
	}

.transparent{
		background-color: transparent !important;
		color: #FFF;
	}
.center{
		text-align:center;
		padding-top: 20px;
	}	



}
