<div>
  <div class="heading">
  Subscribe To Our Website
  <hr>
  </div>
  
  <div>
    <div class="imgclass">
      <img src="https://www.cbc.ca/kidscbc2/content/the_feed/idioms_-_pushing_envelope.jpg"
      width="500px" height="500px">
    </div>
     <div class="vl"></div> 
  
    <div class="mailList">
      <div class="mailText">Email Includes:</div><br><br>
      <div class="lists">
        <ul>
          <img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/checkbox-152186_960_720.png" height="20px" width="20px"><li class="listDisplay">your weekly ad</li><br><br>
  
          <img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/checkbox-152186_960_720.png" height="20px" width="20px"><li class="listDisplay">exclusive offers & promotions</li><br><br>
  
          <img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/checkbox-152186_960_720.png" height="20px" width="20px"><li class="listDisplay">home improvement ideas & tips</li><br><br>
  
          <img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/checkbox-152186_960_720.png" height="20px" width="20px"><li class="listDisplay">sneak peek of upcoming events</li>
        </ul>
      </div>
    </div>
  
  </div>
  
  <div style="font-size: 20px; text-align: center;">
    Enter your email to receive <b>Exclusive Offers</b> in your inbox.
  </div><br>
  <div>
    <input type="text" name="Email" placeholder="E-mail ID:" style="width: 1300px;
    height: 40px; font-size: 30px">
  </div><br>
  
  <div style="float: right;">
   <button class="savebuttton">SAVE TODAY</button>
  </div> 
  </div>