<ion-navbar [hideBackButton]="hideBackButton">
  <button ion-button menuToggle>
    <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
  </button>
  <ion-title></ion-title>
  <div class="applogo">
    <img src="../assets/img/ideology.png" alt="urban" class="img-responsive">
  </div>
  <div *ngIf="!loggedIn" class="HeaderBtnPos">
    <button ion-button color="light" (click)="gotoLogin()" >Login</button>
    <button ion-button color="primary" (click)="gotoSignup()" >Sign Up</button>
  </div>
  <div *ngIf="loggedIn" class="HeaderBtnPos">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://mbtskoudsalg.com/images/blank-profile-picture-png-4.png">
      </ion-avatar>
      <ion-label id="userName">{{userinfo.LOC_USERNAME}}</ion-label>
      <ion-select [(ngModel)]="toppings" interface="popover">
        <ion-option (ionSelect)="gotoProfile($event)">Your Profile</ion-option>
        <ion-option (ionSelect)="gotoAccount($event)">My Account</ion-option>
        <ion-option (ionSelect)="gotoAccount($event)">My Enquiry</ion-option>
        <ion-option (ionSelect)="gotoAccount($event)">User Settings</ion-option>
        <ion-option (ionSelect)="gotoAccount($event)">Logout</ion-option>
      </ion-select>
    </ion-item>
  </div>
</ion-navbar>
