header {
	.applogo{
		max-width: 8%;
		float: left;
	}
	.color{
		background-color: #fff0;
	}

	@media only screen and (max-device-width : 720px){
		.applogo{
			max-width: 35%;
		}
		#userName{
			display: none;
		}
	}
}
