page-select-location {
	@mixin bgRadialGradient($centerColor,$outerColor){
		background: $centerColor; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  $centerColor 0%, $outerColor 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  $centerColor 0%, $outerColor 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  $centerColor 0%, $outerColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$centerColor, endColorstr=$outerColor,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.logo {
	    margin: auto;
	    background: url('../assets/img/appicon.png') repeat transparent;
	    background-size: 100%;
	    width: 128px;
	    height: 128px;
	}
	.find-location {
	    font-size: 18px;
	    font-weight: bold;
	    width: 80%;
	    margin: auto;
	    text-align: center;
	}
	.bg {
	    position: relative;
	    background: url('../assets/img/splashbg.png') no-repeat transparent;
	    background-size: cover;
	    height: 45%;
	    animation: animatedBackground 40s linear infinite;
	}

	@keyframes animatedBackground {
	    from { background-position: 0 0; }
	    to { background-position: 100% 0; }
	}

	.info {
	    position: relative;
	    margin-top: -25px;
	    text-align: center;
	}
	.logo {
	    margin: auto;
	    background: url('../assets/img/appicon.png') repeat transparent;
	    background-size: 100%;
	    width: 128px;
	    height: 128px;
	}
	.intro {
	    font-size: 18px;
	    font-weight: bold;
	    max-width: 80%;
	    margin: auto;
	}
}
