page-signup {
	.pageBg{
		background-image:url('../assets/imgs/Learning.jpg');
		background-size:100% 100%;
	}
	.center{
		text-align:center;
	}
	.formview{
		width: 40%;
		margin: 50px auto;
	}
	.color{
		color: darkviolet;
	}
	.listbg{
		background-color: rgba(0, 0, 0, 0.7) !important;	
		border-radius: 9px;
	}
	
	.item-ios {
		padding-right: 16px;
	}

	.transparent{
		background-color: transparent !important;
		color: #FFF;
	}
	.radio{
		float: left;
    margin: 15px;
		color:#FFF;
	}
	.marginl{
		margin-left: 10px;
	}

	@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px){ 
    	.formview{
			width: 90%;
			margin: 0 auto;
		}
    }
}
