<ion-header>
  <header hideBackButton="true"></header>
</ion-header>


<ion-content padding class="pageBg">
	<div class="formview">
		<div class="radio">
			<span>
				<input type="radio" [(ngModel)]="institute" [value]="true" [checked]="institute">
				<label>I am an Individual</label>
			</span>
			<span>
				<input type="radio" class="marginl" [(ngModel)]="institute" [value]="false" [checked]="!institute">
				<label>I run an Institute</label>
			</span>
		</div>
		<form (submit)="doSignupProcess()" *ngIf="institute">
			<ion-list class="listbg">
				<ion-item class="transparent">
					<ion-label floating>First Name</ion-label>
					<ion-input type="text" [(ngModel)]="userinfo.u_fname" name="fname"  ></ion-input>
				</ion-item>

				<ion-item class="transparent">
					<ion-label floating>Last Name</ion-label>
					<ion-input type="text" name="lname" [(ngModel)]="userinfo.u_lname"></ion-input>
				</ion-item>

				<ion-item  class="transparent">
					<ion-label floating>Phone Number</ion-label>
					<ion-input type="text" maxlength="10" name="mobile" [(ngModel)]="userinfo.u_mobile"></ion-input>
				</ion-item>

				<ion-item  class="transparent">
					<ion-label floating>Alternative Number</ion-label>
					<ion-input type="text" maxlength="10" name="altmobile" [(ngModel)]="userinfo.u_altmobile"></ion-input>
				</ion-item>

				<ion-item class="transparent">
					<ion-label floating>Email-id</ion-label>
					<ion-input type="text" name="email" [(ngModel)]="userinfo.u_email"></ion-input>
				</ion-item>

				<ion-item class="transparent">
					<ion-label floating>Password</ion-label>
					<ion-input type="password" name="password" [(ngModel)]="userinfo.u_password"></ion-input>
				</ion-item>
				<div style="padding-top: 20px;" class="center">
					<button ion-button secondary>Sign Up</button><br><br>
				</div>
				<div style="text-align: center; color: #FFF; padding-bottom: 20px;">
					<span> Already a Member? <a>Login </a></span>
				</div>
			</ion-list>
		</form>

		<form (submit)="doSignupProcessInstitute()" *ngIf="!institute">
			<ion-list class="listbg">
				<ion-item class="transparent">
					<ion-input type="text" name="Iname" [(ngModel)]="userinfo.u_Iname"></ion-input>
					<ion-label floating>Institute Name</ion-label>
				</ion-item>

				<ion-item  class="transparent">
					<ion-label floating>Phone Number</ion-label>
					<ion-input type="text" maxlength="10" name="mobile" [(ngModel)]="userinfo.u_mobile"></ion-input>
				</ion-item>

				<ion-item  class="transparent">
					<ion-label floating>Alternative Number</ion-label>
					<ion-input type="text" maxlength="10" name="altmobile" [(ngModel)]="userinfo.u_altmobile"></ion-input>
				</ion-item>

				<ion-item class="transparent">
					<ion-label floating>Email-id</ion-label>
					<ion-input type="text" name="email" [(ngModel)]="userinfo.u_email"></ion-input>
				</ion-item>
				<div style="padding-top: 20px;" class="center">
					<button ion-button secondary>Register</button><br><br>
				</div>
				<div style="text-align: center; color: #FFF; padding-bottom: 20px;">
					<span> Already a Member? <a (click)="gotoLogin()">Login</a></span>
				</div>
			</ion-list>
		</form>
	</div>
</ion-content>
